venv
node_modules

# Python cache files
__pycache__/
*.pyc

# Django migrations
accounts/migrations/__pycache__/
accounts/migrations/*.pyc

# Environment variables
.env
frontend/.env

# Static files
staticfiles/
media/

# Logs
*.log

# Other
*.swp

